.chip-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  height: 100vh;
  justify-content: center;
  margin: auto;
}

.chip-container input {
  border: none;
  border-bottom: 1px solid #370F6E;
}

.chip-container input:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid #7B22FA;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.chip {
  display: flex;
  align-items: center;
  background-color: #5618AD;
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  color:white;
  border-radius: 10px;
}

.chip.highlight {
  background-color: #7B22FA;
}

.remove-button {
  color: darkgray;
  border: none;
  text-align: center;
  border-radius: 50%;
  padding: 3px 6px 3px 6px;
  margin: 2px;
  cursor: pointer;
  font-size: smaller;
  background: none;
}

.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-list li {
  cursor: pointer;
  padding: 5px;
}

.item-list li:hover {
  background-color: #e0e0e0;
}